@import "tailwindcss";

@config "../../tailwind.config.js";


html {
    font-family: "Anaheim", sans-serif;
}

* {
    font-family: "Anaheim", sans-serif;
}

body {
    font-family: "Anaheim", sans-serif;
}
